

.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 100px;
}

nav ul{
    display: flex;
}

.nav-title{
    font-weight: 900px;
    font-size: 28px;
    color: #0D1321;
}

.btn{
    font-weight:bold;
    font-size: 17px;
    color: #0D1321;
    padding: 15px 21px;
    border-radius: 8px;
    background-color: white;
    stroke: #0D1321;
    border: 1px solid #0D1321;
    cursor: pointer;
    text-decoration: none;

    
}
 

.btn-primary{
        font-weight:bold;
        font-size: 17px;
        color: white;
        border-radius: 8px;
        background-color:#0D1321;
        border: none;
        width: 208px;
        height: 66px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }



.banner{
    display: flex;
}


.bg-pic{
    background-image: url('../assets/Hero-bg.png');
    background-repeat: no-repeat;
    width: 1360px;
    height: 615px;
    justify-content: center;
    align-items: center;
   
}

.banner-content{
    
    
    margin: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 150px 150px 0px 255px;
}

.pic{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: -260px;
    }
.image{
        max-width: 100%;
        width: 240.28px;
        height: 240px;
        left: 619.14px;
        top: 0;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}

.banner-title{
    position: static;
    width: 852px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    color:#0D1321;
    font-family: Azeret Mono;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    margin-top: 0px;
}



.banner-description{
    
    width: 852px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    opacity: 90%;
    margin-bottom: 0px;
}
nav ul li{
    list-style: none;
}

.reason{
    display: flex;
    
    border-radius: 10px;
    flex-direction: column;
    text-align: center;
    margin-top: -90px;
    margin-bottom: 150px;
}

.section-title{
    font-size: 35px;
    font-weight: bold;
    color:#0D1321;
}
main{
    max-width: 1140px;
    margin: 0 auto;
}
.section-description{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    opacity: 90%;
}
.secondary-bg{
    /* Frame 13 */
position: absolute;
width: 1100px;
height: 1350px;
margin: 0 auto;
left: 148px;
right: 152px;
top: 857px;
bottom: 2993px;
/* Auto layout */
display: flex;
flex-direction: column;

justify-content:center;
align-items: center;


border-radius: 16px;

background: rgba(13, 19, 33, 0.02);

}
.hero-section {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: -100px;
    margin-bottom: -75px;
}

.text-content {
    
    max-width: 850px;
    height: 250px;
    border-radius: 16px;
    padding:20px;
    order: 0;
background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}

h1 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    max-width: 600px;
}

p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 14px;
    font-weight: 400;
    opacity: 90%;
    margin-bottom: 10px;
    
}
.p-1 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 14px;
    font-weight: 400;
    opacity: 90%;
    margin-bottom: 10px;
    max-width: 500px;
    
}

    .learn-more-btn {
        text-align:justify;
        margin-top: 25px; 
    }
    
    .learn-more-btn a {
        font-weight: bold;
        font-size: 17px;
        color: #0D1321;
        text-decoration: none; /* Remove the link underline */
        background-color: white;
        border: 1px solid #0D1321;
        border-radius: 8px;
        padding: 15px 21px;
        display: inline-block;
        cursor: pointer;
    }
.hero-section-2{
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 48px;
        margin-bottom: 100px;
    }

    .h1-2{
        font-size: 28px;
        font-weight: bold;
        margin-bottom: 20px;
        
    }
    .p-2{
        color: rgb(13, 19, 33);
        font-family: Azeret Mono;
        font-size: 14px;
        font-weight: 400;
        opacity: 90%;
        margin-bottom: 10px;
        max-width: 500px;
    }
    .learn-more-btn-2 {
        text-align:justify;
        margin-top: 25px; 
        order: 1;
    }
    
    .learn-more-btn-2 a {
        font-weight: bold;
        font-size: 17px;
        color: #0D1321;
        text-decoration: none; /* Remove the link underline */
        background-color: white;
        border: 1px solid #0D1321;
        border-radius: 8px;
        padding: 15px 21px;
        display: inline-block;
        cursor: pointer;
    }
    .image {
        flex: 1;
    }

    .text-content-2 {
        flex: 2;
        max-width: 850px;
        height: 250px;
        border-radius: 16px;
        padding:20px;
        order: 1;
    background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    }